<% layout('./layouts/boilerplate')%>
<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>
<script src="/javascripts/CollaspseMenu.js"></script>
<section>
<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
            <script src="https://www.whiteboard.team/dist/api.js"></script>
            <script type="text/javascript">
                var wt = new api.WhiteboardTeam('#wt-container', {
                    clientId: '8fa29ad3d03237f44d2d90b45716eb33',
                    boardCode: 'mentknow_goalsetting',
                    participant: {name:"<%=currentUser.username%>"}
                });
            </script>
</div>
<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container" frameborder="20"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_timemanagement',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</div>


<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_studyskills',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</div>


<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_careerplaning',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</div>


<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_managinghealth',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</div>

<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_managingmoney',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</div>

<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_examprep',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</div>

<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_managingstress',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</div>

<div class="whiteboardApi" style="width: 1200px; height: 700px; border:30px;" id="wt-container"></div>
        
    <script src="https://www.whiteboard.team/dist/api.js"></script>
    <script type="text/javascript">
        var wt = new api.WhiteboardTeam('#wt-container', {
            clientId: '8fa29ad3d03237f44d2d90b45716eb33',
            boardCode: 'mentknow_leadershipskills',
            participant: {name:"<%=currentUser.username%>"}
        });
    </script>
</section>
</section>
</div>

