<% layout('./layouts/boilerplate')%>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

    <section class="lessonMetrics">
      <h1>View Analytics for Each Lesson </h1>
      <br>
      <form action="/Analysis" method="POST">
        <label for="lesson-select">Choose a lesson:</label>
        <select  name="LessonNumber" class="lesson-select">
          <!-- <option value="">Choose an option</option> -->
          <option value="Nothig" ></option>
          <option value="lesson1">Lesson 1</option>
          <option value="lesson2">Lesson 2</option>
          <option value="lesson3">Lesson 3</option>
          <option value="lesson4">Lesson 4</option>
          <option value="lesson5">Lesson 5</option>
          <option value="lesson6">Lesson 6</option>
          <option value="lesson7">Lesson 7</option>
          <option value="lesson8">Lesson 8</option>
          <option value="lesson9">Lesson 9</option>
          <option value="lesson10">Lesson 10</option>
          <option value="All">All</option>
          
        </select>
        <br>
        <br>
       
      <button class="ShowCharts" >Show</button>
      
    </form>

    </section>
    
    <section class="VisualizationGraphs">
      
      <% if(LessonNumber!="All" && LessonNumber!="NOTHING"){ %>
        
        <div>
            
            <canvas id="myChart" width="400" height ="400">  </canvas>
        </div>
        
        <div class="CardBox">
          <div class="Inside">
            <span class="Views"><%=TotalpageVisit %><i class="fa-regular fa-eye"></i></span>
          <br>
          <span>Views</span>
          
          </div>
          
        </div>
        <div class="CardBox">
          <div class="Inside">
            <span class="Views"><%=TotalTime %><i class="fa-regular fa-clock"></i></span>
          <br>
          <span>TimeSpent </span>
          </div>
          
        </div>
    <% }else{%>
         <div>
            
           <canvas id="myChart2" width="900" height ="500">  </canvas>
         
          </div>

          <div>
            
            <canvas id="myChart4" width="900" height ="500">  </canvas>
          
          </div>

          <div>
            
            <canvas id="myChart5" width="900" height ="500">  </canvas>
          
          </div>
    <%} %>
  </section>
  


   
   <script>
 
    const ctx2 = document.getElementById('myChart');
    const TotalsVideoClicks = <%- JSON.stringify(TotalsVideoClicks) %>;
    const TotalsBoardClicks = <%- JSON.stringify(TotalsBoardClicks) %>;
    const countPdfClicks = <%- JSON.stringify(TotalsPdfClicks) %>;
    const TotalchatInteraction = <%- JSON.stringify(TotalchatInteraction) %>;

    new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: ['Video', 'WhiteBoard', 'Chat', 'Resources'],
        datasets: [{
          label: '# of Clicks',
          data: [TotalsVideoClicks, TotalsBoardClicks, TotalchatInteraction, countPdfClicks],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

   <script>
   
   const LessonNumber = <%- JSON.stringify(LessonNumber) %>;

    if(LessonNumber==="All"){
      const ctx3 = document.getElementById('myChart2');
      const ctx4 = document.getElementById('myChart4');
      const ctx5 = document.getElementById('myChart5');
      const CombinedPdfClicks = <%- JSON.stringify(CombinedPdfClicks) %>;
      const CombinedVideoClicks = <%- JSON.stringify(CombinedVideoClicks) %>;
      const CombinedBoardClicks = <%- JSON.stringify(CombinedBoardClicks) %>;
      const CombinedTotalTime = <%- JSON.stringify(CombinedTotalTime) %>;
      const CombinedTotalpageVisit = <%- JSON.stringify(CombinedTotalpageVisit) %>;
      const CombinedchatInteraction = <%- JSON.stringify(CombinedchatInteraction) %>;
      
      new Chart(ctx3, {
        type: 'line',
        data: {
          labels: ['Lesson1','Lesson2','Lesson3','Lesson4','Lesson5','Lesson6','Lesson7','Lesson8','Lesson9','Lesson10'],
          datasets: [{
            label: 'Time Spent on Each Lesson',
            data: [ CombinedTotalTime[0],
                    CombinedTotalTime[1],
                    CombinedTotalTime[2],
                    CombinedTotalTime[3],
                    CombinedTotalTime[4],
                    CombinedTotalTime[5],
                    CombinedTotalTime[6],
                    CombinedTotalTime[7],
                    CombinedTotalTime[8],
                    CombinedTotalTime[9]],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      new Chart(ctx4, {
        type: 'bar',
        data: {
          labels: ['Lesson1','Lesson2','Lesson3','Lesson4','Lesson5','Lesson6','Lesson7','Lesson8','Lesson9','Lesson10'],
          datasets: [{
            label: 'Count Page Visit for each lesson',
            data: [CombinedTotalpageVisit[0],
                    CombinedTotalpageVisit[1],
                    CombinedTotalpageVisit[2],
                    CombinedTotalpageVisit[3],
                    CombinedTotalpageVisit[4],
                    CombinedTotalpageVisit[5],
                    CombinedTotalpageVisit[6],
                    CombinedTotalpageVisit[7],
                    CombinedTotalpageVisit[8],
                    CombinedTotalpageVisit[9]],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      new Chart(ctx5, {
        type: 'bar',
        data: {
          labels: ['Lesson1','Lesson2','Lesson3','Lesson4','Lesson5','Lesson6','Lesson7','Lesson8','Lesson9','Lesson10'],
          datasets: [
        {
            label: "CountPDFClicks",
            // fillColor: "blue",
            data: [ CombinedPdfClicks[0],
                    CombinedPdfClicks[1],
                    CombinedPdfClicks[2],
                    CombinedPdfClicks[3],
                    CombinedPdfClicks[4],
                    CombinedPdfClicks[5],
                    CombinedPdfClicks[6],
                    CombinedPdfClicks[7],
                    CombinedPdfClicks[8],
                    CombinedPdfClicks[9]]
        },
        {
            label: "Video Interaction",
            // fillColor: "red",
            data: [ CombinedVideoClicks[0],
                    CombinedVideoClicks[1],
                    CombinedVideoClicks[2],
                    CombinedVideoClicks[3],
                    CombinedVideoClicks[4],
                    CombinedVideoClicks[5],
                    CombinedVideoClicks[6],
                    CombinedVideoClicks[7],
                    CombinedVideoClicks[8],
                    CombinedVideoClicks[9]]
        },
        {
            label: "WhiteBoard Interaction",
            // fillColor: "green",
            data: [ CombinedBoardClicks[0],
                    CombinedBoardClicks[1],
                    CombinedBoardClicks[2],
                    CombinedBoardClicks[3],
                    CombinedBoardClicks[4],
                    CombinedBoardClicks[5],
                    CombinedBoardClicks[6],
                    CombinedBoardClicks[7],
                    CombinedBoardClicks[8],
                    CombinedBoardClicks[9]]
        }
        
         ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    
    }
    
  </script>


  
    


</section>
<script src="/javascripts/DisplayCharts.js"></script>
<script src="/javascripts/CollaspseMenu.js"></script>
