<% layout('./layouts/boilerplate')%>
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<section class="OverviewLessonSections">
<%- include('./partials/Overview')%>

    <section class="lessonMetrics">
      <h1>View Analytics for Each Lesson </h1>
      <br>
      <form action="/Analysis" method="POST">
        <label for="lesson-select">Choose a lesson:</label>
        <select  name="LessonNumber" class="lesson-select">
          <!-- <option value="">Choose an option</option> -->
          <option value="Nothig" ></option>
          <option value="lesson1">Lesson 1</option>
          <option value="lesson2">Lesson 2</option>
          <option value="lesson3">Lesson 3</option>
          <option value="lesson4">Lesson 4</option>
          <option value="lesson5">Lesson 5</option>
          <option value="lesson6">Lesson 6</option>
          <option value="lesson7">Lesson 7</option>
          <option value="lesson8">Lesson 8</option>
          <option value="lesson9">Lesson 9</option>
          <option value="lesson10">Lesson 10</option>
          
        </select>
        <br>
        <br>
       
      
          
      
      <button class="ShowCharts" >Show</button>
      
    </form>
   
     
    </section>
    
  
    <section class="VisualizationGraphs">
  
      <div>
          
          <canvas id="myChart" width="400" height ="400">  </canvas>
      </div>
      
      <div class="CardBox">
        <div class="Inside">
          <span class="Views"><%=TotalpageVisit %><i class="fa-regular fa-eye"></i></span>
        <br>
        <span>Views</span>
        
        </div>
        
      </div>
      <div class="CardBox">
        <div class="Inside">
          <span class="Views"><%=TotalTime %><i class="fa-regular fa-clock"></i></span>
        <br>
        <span>TimeSpent </span>
        </div>
        
      </div>

  </section>

   
   <script>
    const ctx2 = document.getElementById('myChart');
    const TotalsVideoClicks = <%- JSON.stringify(TotalsVideoClicks) %>;
    const TotalsBoardClicks = <%- JSON.stringify(TotalsBoardClicks) %>;
    const countPdfClicks = <%- JSON.stringify(TotalsPdfClicks) %>;
    new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: ['Video', 'WhiteBoard', 'Chat', 'Resources'],
        datasets: [{
          label: '# of Clicks',
          data: [TotalsVideoClicks, TotalsBoardClicks, 0, countPdfClicks],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
   <!-- <script>
    const ctx3 = document.getElementById('myChart3');
  
    new Chart(ctx3, {
      type: 'pie',
      data: {
        labels: ['Video', 'WhiteBoard', 'Chat', 'Resources'],
        datasets: [{
          label: '# of Clicks',
          data: [12, 19, 3, 5],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script> -->


   <!-- <script>
    const ctx = document.getElementById('myChart2');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['Video'],
        datasets: [{
          label: '# of Clicks',
          data: [12],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script> -->
    


</section>
<script src="/javascripts/DisplayCharts.js"></script>
<script src="/javascripts/CollaspseMenu.js"></script>
